.posts {
  gap: 20px;
  justify-content: center;
  height: 100%;
  padding-top: 5px;
}
.card {
  width: 15%;
  padding: 3px;
  text-align: center;
  transition: all 0.3s;
}
.card-img-top {
  width: 100%;
  margin-bottom: 15px;
}
.card-title {
  font-size: 15px;
}
.card:hover{transform: translateY(-5px);}